.Rproj.user
.Rhistory
.RData
.Ruserdata
# ignore local files with parameters
.Renviron
.Rproj.user/*
# ignore the targets output folder
_targets/*
*_cache/*
*_files/*
/.quarto/
_book/
# ignore latex cruft
*.spl
*.nlo
*.aux
*.fdb_latexmk
rosm.cache/
rosm.cache/
.DS_Store
*tikzDictionary
elsarticle-num.bst
elsarticle-harv.bst
elsarticle.cls
/.luarc.json
/Definitions/*
index.log
