.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore local files with parameters
.Renviron
.Rproj.user/*


# ignore the targets output folder
_targets/*
/.quarto/
_book/


# ignore latex cruft
*.spl
*.nlo
*.aux